<link rel="stylesheet" href="./components/codeforces-section/codeforces-section.css">
<link rel="stylesheet" href="stylesheets/buttons.css">

<div class="codeforces-section">
  <div class="ring ring-1"></div>
  <div class="ring ring-2"></div>
  <div class="ring ring-3"></div>

  <div class="content-wrapper">
    <div class="left-spacer"></div>
    <div class="content">

      <p class="statement-text">
        I've always found <span class="highlight-text">competitive programming</span> to be a really fun blend of problem-solving and careful observation. It's fascinating to see how a task that once seemed "impossible" becomes achievable through some creative application of logic.
      </p>

      <div class="action-section">

        <div class="primary-tier">
          <a href="https://github.com/jain-arham-hsr/competitive-programming" target="_blank" class="btn btn-primary" style="display: inline-flex; align-items: center; gap: 10px;">
            <svg width="28" height="28" viewBox="0 0 24 24" fill="currentColor">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.477 2 2 6.477 2 12c0 4.42 2.865 8.166 6.839 9.489.5.092.682-.217.682-.482 0-.237-.008-.866-.013-1.7-2.782.603-3.369-1.34-3.369-1.34-.454-1.156-1.11-1.462-1.11-1.462-.908-.62.069-.608.069-.608 1.003.07 1.531 1.03 1.531 1.03.892 1.529 2.341 1.087 2.91.831.092-.646.35-1.086.636-1.336-2.22-.253-4.555-1.11-4.555-4.943 0-1.091.39-1.984 1.029-2.683-.103-.253-.446-1.27.098-2.647 0 0 .84-.269 2.75 1.025A9.578 9.578 0 0112 6.836c.85.004 1.705.114 2.504.336 1.909-1.294 2.747-1.025 2.747-1.025.546 1.377.203 2.394.1 2.647.64.699 1.028 1.592 1.028 2.683 0 3.842-2.339 4.687-4.566 4.935.359.309.678.919.678 1.852 0 1.336-.012 2.415-.012 2.743 0 .267.18.578.688.48C19.138 20.161 22 16.416 22 12c0-5.523-4.477-10-10-10z" />
            </svg>
            View My Submissions
          </a>
        </div>

        <div class="secondary-tier">
          <span class="tier-label">Platform Profiles</span>
          <div class="platform-links">
            <a href="https://codeforces.com/profile/jain_arham_hsr" target="_blank" class="profile-btn">
              <img src="../../assets/images/codeforces-logo.svg" alt="Codeforces" width="16" height="16">
              Codeforces
              <img src="../../assets/images/external-link-2.svg" alt="" class="external-icon">
            </a>

            <a href="https://www.codechef.com/users/jain_arham_hsr" target="_blank" class="profile-btn">
              <img src="../../assets/images/codechef-logo.svg" alt="CodeChef" width="16" height="16">
              CodeChef
              <img src="../../assets/images/external-link-2.svg" alt="" class="external-icon">
            </a>

            <a href="https://atcoder.jp/users/jain_arham_hsr" target="_blank" class="profile-btn">
              <img src="../../assets/images/atcoder-logo.svg" alt="AtCoder" width="16" height="16">
              AtCoder
              <img src="../../assets/images/external-link-2.svg" alt="" class="external-icon">
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
