<link rel="stylesheet" href="components/site-header/site-header.css">
<link rel="stylesheet" href="stylesheets/layout.css">
<link rel="stylesheet" href="stylesheets/animations.css">

<header>
  <nav>
    <a href="https://github.com/jain-arham-hsr" class="logo" target="_blank">
      <div class="logo-icon">
        <img src="https://avatars.githubusercontent.com/jain-arham-hsr" alt="">
      </div>
      <div class="logo-separator"></div>
      <div class="logo-text">@jain-arham-hsr</div>
    </a>

    <ul class="nav-links">
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
