 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
 <link rel="stylesheet" href="./components/minigames-section/minigames-section.css">

 <div class="minigames-section">
   <div class="section-header">
     <h1 class="section-title">Try these Minigames!</h1>
     <p class="section-subtitle">Showcasing my solutions to real-world coding challenges</p>
   </div>

   <div class="carousel">
     <div class="carousel-item">
       <a href="https://jain-arham-hsr.github.io/web-flappy-bird-game" target="_blank"><img src="./assets/images/flappy-bird.png" alt="Flappy Bird Game" title="Flappy Bird Game"></a>
     </div>

     <div class="carousel-item">
       <a href="https://jain-arham-hsr.github.io/web-snake-game" target="_blank">
         <img src="./assets/images/snake-game.png" alt="Snake Game" title="Snake Game">
       </a>
     </div>

     <div class="carousel-item">
       <a href="https://jain-arham-hsr.github.io/web-simon-game" target="_blank">
         <img src="./assets/images/simon.png" alt="Simon Game" title="Simon Game">
       </a>
     </div>

     <div class="carousel-item">
       <a href="https://jain-arham-hsr.github.io/web-tic-tac-toe/" target="_blank">
         <img src="./assets/images/tic-tac-toe.png" alt="Tic Tac Toe" title="Tic Tac Toe">
       </a>
     </div>

   </div>
 </div>
